{% extends 'main/base.html' %}

{% block content %}

{% if data.finished %}
<div class="container mt-3" style="display: flex;justify-content:center;">
    <h1>Feedback Recieved</h1>
</div>
{% else %}
<div class="container mt-3">
    <form method="post">
        {% csrf_token %}
        <div class="container">
            <p class="h5 mb-4">Did you make a purchase ?</p>
        </div>
        <div class="container pl-3">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="didBuy" id="flexRadioDefault1" value="yes" checked>
                <label class="form-check-label" for="flexRadioDefault1">
                    Yes
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="didBuy" id="flexRadioDefault2" value="no">
                <label class="form-check-label" for="flexRadioDefault2">
                    No
                </label>
            </div>
        </div>
        <div class="container">
            <p class="h5 mb-4">Please rate your seller experience ?</p>
        </div>
        <div class="container pl-3">
            <div class="form-check form-check-inline mr-3">
                <input class="form-check-input" type="radio" name="sellerExp" id="flexRadioDefault1" value="1" checked>
                <label class="form-check-label" for="flexRadioDefault1">
                    1
                </label>
            </div>
            <div class="form-check form-check-inline mr-3">
                <input class="form-check-input" type="radio" name="sellerExp" id="flexRadioDefault2" value="2">
                <label class="form-check-label" for="flexRadioDefault2">
                    2
                </label>
            </div>
            <div class="form-check form-check-inline mr-3">
                <input class="form-check-input" type="radio" name="sellerExp" id="flexRadioDefault2" value="3">
                <label class="form-check-label" for="flexRadioDefault2">
                    3
                </label>
            </div>
            <div class="form-check form-check-inline mr-3">
                <input class="form-check-input" type="radio" name="sellerExp" id="flexRadioDefault2" value="4">
                <label class="form-check-label" for="flexRadioDefault2">
                    4
                </label>
            </div>
            <div class="form-check form-check-inline mr-3">
                <input class="form-check-input" type="radio" name="sellerExp" id="flexRadioDefault2" value="5">
                <label class="form-check-label" for="flexRadioDefault2">
                    5
                </label>
            </div>
        </div>
        <div class="container">
            <p class="h5 mb-4">Please rate your product experience ?</p>
        </div>
        <div class="container pl-3">
            <div class="form-check form-check-inline mr-3">
                <input class="form-check-input" type="radio" name="prodExp" id="flexRadioDefault1" value="1" checked>
                <label class="form-check-label" for="flexRadioDefault1">
                    1
                </label>
            </div>
            <div class="form-check form-check-inline mr-3">
                <input class="form-check-input" type="radio" name="prodExp" id="flexRadioDefault2" value="2">
                <label class="form-check-label" for="flexRadioDefault2">
                    2
                </label>
            </div>
            <div class="form-check form-check-inline mr-3">
                <input class="form-check-input" type="radio" name="prodExp" id="flexRadioDefault2" value="3">
                <label class="form-check-label" for="flexRadioDefault2">
                    3
                </label>
            </div>
            <div class="form-check form-check-inline mr-3">
                <input class="form-check-input" type="radio" name="prodExp" id="flexRadioDefault2" value="4">
                <label class="form-check-label" for="flexRadioDefault2">
                    4
                </label>
            </div>
            <div class="form-check form-check-inline mr-3">
                <input class="form-check-input" type="radio" name="prodExp" id="flexRadioDefault2" value="5">
                <label class="form-check-label" for="flexRadioDefault2">
                    5
                </label>
            </div>
        </div>
        <div class="md-form">
            <input type="text" id="suggestion" class="form-control" name="suggestion">
            <label for="suggestion">Any Suggestion For Us ?</label>
        </div>
        <div class="container">
            <button class="btn btn-default" type="submit">Submit Feedback</button>
        </div>
    </form>
</div>
{% endif %}
{% endblock content %}